/*Header*/

	header h1{
		font-size: 40px;
		font-family: "Open Sans Condensed", "Arial", sans-serif;
		color: white;
		padding: 18px 0;
	}

	header{
		background-color: black;
		width: 100%;
		padding: 15px 0;
		position: absolute;
		top:0;
		display: block;
	}

	header img{
		width:70px;
		height:70px;
	}

	.header_menu{
		text-align: right;
	}

	.header_menu ul li{
		display: inline-block;
		margin-left: 20px;
		margin-top: 20px;
	}

	.header_menu ul li a{
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 17px;
		text-decoration: none;
		line-height: 20px;
		padding: 10px 0;
	}

	.header_menu ul li a:hover{
		color: #C8B457;
	}

/*body*/

	body{
		font-family: "Karla", "Helvetica", sans-serif;
		background-color: #FAFAFA;
		font-size: 18px;
		line-height: 27px;
	}

	footer{
		width: 100%;
		color: white;
		background-color: black;
		padding:15px 0;
		margin-top: 140px;
		text-align: right;
		bottom: 0;
		display: block;
		font-size: 15px;
	}

	main{
		top: 120px;
		position: relative;
		width: 100%;
		display: block;
	}

/*pagina_inicial*/

	.barney1 img{
		width: 375px;
		height: 430px;
		margin-bottom: 20px;
	}

	.intro{
		margin-top: 80px;
	}

	.intro h3{
		font-size: 35px;
		line-height: 52.5px;
		text-align: center;
	}

	.intro h3:before, .intro h3:after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background: black;
		margin: 10px auto;
	}

	.intro p{
		font-size: 25px;
		line-height: 37.5px;
		margin-top: 20px;
		margin-left: 20px;
	}


/*blog*/

	article time{
		font-size: 15px;
		text-align: right;
	}


	article{
		box-sizing: border-box;
		width: 300px;
		height: 470px; 
	    background-color: #E6E7E8;
	    border: 1px solid white;
	    border-radius: 10px;
	    padding: 20px;
	}

	.leia-mais {
	    padding: 4px;
	    margin: 10px;
	    display: block;
	    font-size: 20px;
	    text-align: center;
	    background-color: #C8B457;
	    color: black;
	    text-decoration: none;
	    border-radius: 10px;
	}

	article p{
		font-size: 18px;
		line-height: 30px;
		text-align: justify;
	}

	article img{
		width: 225.6px;
		height: 150.6px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	border-radius: 10px;
	}

	article h2{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	#artigo2{
		margin-bottom: 42px;
	}

	#artigo3{
		margin-bottom: 42px;
	}

/*Livros*/

	.livro{
		box-sizing: border-box;
	    background-color: #E6E7E8;
	    border: 1px solid white;
	    border-radius: 10px;
	    padding: 20px;
	    width: 460px;
	    height: 850px;
	}

	.livro h2{
		clear: both;
		text-align: center;
		font-weight: bold;
		font-size: 22px;
		text-transform: uppercase;
	}

	.livro img{
		width: 185px;
		height: 273.5px;
		float: left;
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 15px;
		border-radius: 10px;
	}

	.livro h3{
		margin: 20px;
		margin-bottom: 0px;
		text-decoration: underline;
	}

	.livro p{
		text-align: justify;
		margin: 20px;
		margin-top: 0px;
	}

	.livro a{
		padding: 4px;
	    margin: 4px;
	    display: block;
	    font-size: 20px;
	    text-align: center;
	    background-color: #C8B457;
	    color: black;
	    text-decoration: none;
	    border-radius: 10px;
	    text-transform: uppercase;
	}

	#bro{
		margin-bottom: 40px;
	}

/*Estilo*/

	#barney_suit{
		width: 301px;
		height: 444.5px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

	#estilo{
		font-size: 40px;
		line-height: 60px;
		text-align: center;
		margin-top: 140px;
	}

	#estilo:before, #estilo:after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background: black;
		margin: 10px auto;
	}

/*sobre_mim*/

	.sobre_mim{
		text-align: justify;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.minha_foto{
		margin-top: 45px;
		margin-bottom: 50px;
	}

/*fotos*/

	#foto1{
		width: 456px;
		height: 256px;
		margin-bottom: 10px;
	}

	#foto2{
		width: 456px;
		height: 256px;
		margin-bottom: 10px;
	}

	#foto3{
		width: 935px;
		height: 518px;
		margin-bottom: 10px;
	}

